.form-container {
    border: 1px solid black;
    display: flex;
    justify-content: center;
    padding: 3vmin;
    max-height: 35vmin;
}

.login-button-container {
    display: flex;
    justify-content: center;
}