.main-nav {
	padding: 1.5vmin;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-content: flex-end;
}

#Nav {
	background-color: bisque;
}

.logo-username-list {
	display: flex;
    flex-direction: row;
    
    
}
